body {
  margin: 0;
  padding: 0;
}

/* -------------- TOP BAR -------------- */

#topbar {
  height: 15vh;
  background-color: rgba(19, 117, 27, 0.521);
  background-color: rgba(33, 33, 136, 0.849);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#topbar-icon {
  font-size: 4rem;
}

#topbar-text {
  font-size: 4rem;
}
/* -------------- CONTENT -------------- */

#content {
  height: 85vh;
  margin: 0;
  padding: 0;
  /*background: url(images/night3.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;*/
  background-color: rgba(33, 33, 136, 0.589);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* -------------- SEARCH -------------- */

.middle-content {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.left-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.right-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  color: rgb(255, 255, 255);
}

.search-history {
  margin-left: auto;
  width: 40%;
  background-color: rgba(31, 26, 26, 0.37);
  text-align: center;
  opacity: 0;
}

.search-items {
  margin-left: auto;
  width: 40%;
  background-color: rgba(31, 26, 26, 0.37);
  display: flex;
  flex-direction: column;
  text-align: center;
  opacity: 0;
}

.fadeFromRight {
  animation-name: fadeLeft;
  animation-duration: 1s;
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.fadeToRight {
  animation: fadeRight;
  animation-duration: 1s;
}

@keyframes fadeRight {
  from {
    opacity: 1;
    transform: none;
  }
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

.search-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.search-button:hover {
  background-color: rgba(201, 176, 176, 0.178);
}

/* -------------- SEARCH -------------- */

#inputs {
  height: 10vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

#city-input {
  font-size: x-large;
  width: 340px;
  height: 50px;
  border: none;
  outline: none;
  padding: 0 25px;
  border-radius: 25px 0 0 25px;
}

#submit-city {
  background-color: rgba(127, 238, 136, 0.521);
  background-color: rgba(33, 33, 136, 0.849);
  font-size: x-large;
  border-radius: 0 25px 25px 0;
  height: 50px;
  width: 150px;
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.836);
  cursor: pointer;
}

#submit-city:hover {
  background-color: rgba(127, 238, 136, 0.404);
  background-color: rgba(33, 33, 136, 0.644);
}

/* -------------- MID SECTION -------------- */

.middle-section {
  width: 100%;
  height: 50vh;
}
#currentDay {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-large;
  color: rgb(255, 255, 255);
}

#name {
  font-size: 3rem;
  font-weight: bold;
}

#dayName {
  font-weight: bold;
}

#temp {
  font-weight: bold;
}

#windSpeed {
  font-weight: bold;
}

.descriptionDiv {
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.details {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
/* -------------- BOTTOM SECTION -------------- */

#forecast {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 20vh;
  color: rgb(255, 255, 255);
  opacity: 0;
}

.fadeIn {
  animation-name: fadeUp;
  animation-duration: 1s;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.fadeOut {
  animation: fadeDown;
  animation-duration: 1s;
}

@keyframes fadeDown {
  from {
    opacity: 1;
    transform: none;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

#toggle-forecast {
  background-color: rgba(127, 238, 136, 0.521);
  background-color: rgba(33, 33, 136, 0.849);
  font-size: large;
  border-radius: 25px;
  height: 50px;
  width: 150px;
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.836);
  cursor: pointer;
  margin-bottom: 20px;
  height: 5vh;
  margin-left: 8%;
}

#toggle-forecast:hover {
  background-color: rgba(127, 238, 136, 0.404);
  background-color: rgba(33, 33, 136, 0.644);
}

.forecast-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

#toggle-history {
  height: 5vh;
  background-color: rgba(127, 238, 136, 0.521);
  background-color: rgba(33, 33, 136, 0.849);
  font-size: large;
  border-radius: 25px;
  height: 50px;
  width: 150px;
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.836);
  cursor: pointer;
  margin: 1.5em 1.5em 1.5em auto;
}

#toggle-history:hover {
  background-color: rgba(127, 238, 136, 0.404);
  background-color: rgba(33, 33, 136, 0.644);
}
